.action-header{
   background-color: var(--background);
   border: none;
   cursor: pointer;
   display: none;
   padding: 0;
}

@media screen and (max-width: 768px) {
   .action-header {
      display: flex;
   }
   
   .action-header.-lupa{
      display: none;
   }
}

@media screen and (max-width: 425px) {
   .action-header.-lupa {
      display: flex;
   }
}