.app-input {
   background-color: rgba(255, 255, 255, 0.16);
   border: none;
   border-radius: 8px;
   color: rgba(255, 255, 255, 0.70);
   font-family: 'Inter', sans-serif;
   font-size: 16px;
   outline: none;
   padding: 14px 16px;
   transition: .2s;
}

.app-input::placeholder {
   color: rgba(255, 255, 255, 0.70);
   font-family: 'Inter', sans-serif;
}

.app-input:focus,
.app-input:hover {
   background-color: rgba(255, 255, 255, 0.24);
   color: rgba(255, 255, 255, 0.80);
}

textarea.app-input {
   line-height: 1.5;
   resize: none;
}

select.app-input > option {
   background-color: #5c6075;
}