.app-input {
   background-color: rgba(255, 255, 255, 0.16);
   border: none;
   border-radius: 8px;
   color: rgba(255, 255, 255, 0.70);
   font-family: 'Inter', sans-serif;
   font-size: 14px;
   outline: none;
   padding: 14px 16px;
   transition: .2s;
}

.app-input::placeholder {
   color: rgba(255, 255, 255, 0.70);
   font-family: 'Inter', sans-serif;
}

.app-input:focus {
   background-color: rgba(255, 255, 255, 0.24);
   color: rgba(255, 255, 255, 0.80);
}