.app-code {
   background-color: var(--color-one);
   border-radius: 8px;
   padding: 32px;
   margin-bottom: 32px;
   position: relative;
}

.app-code .window {
   background-color: #141414;
   border-radius: 8px;
   padding-top: 52px;
}

.app-code .macbuttons {
   position: absolute;
   top: 48px;
   left: 48px;
}

.app-code .code {
   background: none;
   border: none;
   box-sizing: border-box;
   color: azure;
   display: block;
   font-family: 'Roboto Mono', sans-serif;
   padding: 0px 16px 16px;
   outline: none;
   overflow-y: scroll;
   scrollbar-width: none;
   text-wrap: wrap;
   white-space: pre-wrap;
   height: 21em;
   width: 100%;
}

@media screen and (max-width: 425px) {
   
   .app-code .code {
      font-size: 14px;
   }
}