.main-menu {
   width: fit-content;
   position: absolute;
}

.main-menu > ul {
   display: flex;
   flex-direction: column;
   gap: 16px;
   list-style: none;
}

.main-menu .link {
   display: flex;
   align-items: center;
   gap: 16px;
   color: rgba(255, 255, 255, 0.50);
   text-decoration: none;
   font-weight: 300;
   transition: .1s;
}

.main-menu .link:hover {
   color: rgba(255, 255, 255, 0.70);
}

.main-menu .link.--active {
   color: white;
}

.main-menu .link .linkicon {
   background-color: var(--bg-item);
   border-radius: 16px;
   display: flex;
   padding: 12px;
   opacity: 0.40;
   transition: .1s;
}

.main-menu .link:hover .linkicon {
   opacity: 0.70;
}

.main-menu .link.--active .linkicon {
   color: white;
   opacity: 1;
}

.main-menu .link .linkicon img {
   width: 24px;
   height: 24px;
   object-fit: contain;
}

@media screen and (max-width: 768px) {

   .main-menu {
      display: none;
   }
}