.main-settings {
   display: flex;
   flex-direction: column;
}

.main-settings > .app-input {
   margin-bottom: 16px;
}

.main-settings > .color {
   background-color: transparent;
   border: 1px solid white;
   border-radius: 8px;
   /* box-sizing: content-box; */
   height: 50px;
   width: 100%;
   padding: 4px;
   margin-bottom: 40px;
}