.main-post {
   background-color: #00000032;
   border-radius: 8px;
   width: 520px;
}

.main-post > .app-code {
   padding: 24px;
}

.main-post > .app-code > .macbuttons {
   height: 9px;
   top: 36px;
   left: 36px;
}

.main-post > .app-code > .code {
   font-size: 11px;
   padding: 33px 12px 12px;
}

.main-post > .title {
   font-size: 21px;
   margin: 24px 24px 8px;
}

.main-post > .description {
   color: #d0d0d0;
   font-weight: 300;
   line-height: 1.5;
   margin: 0 24px 24px;
}

.main-post > .actions {
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 0 24px 24px;
}

.main-post .action {
   display: flex;
   align-items: center;
   gap: 8px;
   border-radius: 16px;
   padding: 8px;
   cursor: pointer;
   transition: .2s;
}

.main-post .action:hover {
   background-color: #ffffff16;
}

.main-post .action:last-child {
   margin-left: auto;
}
.main-post .action:last-child > img {
   border-radius: 50%;
}

.main-post .action > img {
   width: 24px;
}