.main-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 8px;
   padding: 32px 0 40px;
}

.main-header > .app-input {
   width: 752px;
   margin-left: 16px;
}

.main-header > .profile {
   border-radius: 8px;
   display: flex;
   align-items: center;
   gap: 8px;
   font-weight: 300;
   padding: 8px 12px;
   transition: .2s;
}

.main-header > .profile:hover {
   background-color: rgba(255, 255, 255, 0.08);
}

.main-header > .profile img {
   border-radius: 50%;
   width: 32px;
}

@media screen and (max-width: 768px) {
   .main-header {
      gap: 40px;
   }
   
   .main-header > .app-input {
      flex-grow: 1;
      margin: 0;
      width: auto;
   }
   
   .main-header > .profile {
      display: none;
   }
}

@media screen and (max-width: 425px) {

   .main-header {
      justify-content: end;
      gap: 8px;
      padding-top: 16px;
   }

   .main-header > .logo {
      margin-right: auto;
   }

   .main-header > .app-input {
      display: none;
   }
}